<%= form_for @sample do |f| %>
	<div class="form-group"><%= f.label :name %><br>
	 <%= f.text_field :name %>
	</div>
	<div class="form-group">
	 <%= f.label :link %> <br>
	 <%= f.text_field :link %>
	</div>
	<div class="form-group">
	 <%= f.label :description %> <br>
	 <%= f.text_area :description %>
	</div>
	<%= f.submit %>
<% end %>