<%= form_for @sample do |f| %>
	<div class="container-fluid">
		<div class="panel-primary">
			<div class="panel-body">
				<div class="form-group"><%= f.label :name %><br>
				 <%= f.text_field :name %>
				</div>
				<div class="form-group">
				 <%= f.label :link %> <br>
				 <%= f.url_field :link %>
				</div>
				<div class="form-group">
				 <%= f.label :description %> <br>
				 <%= f.text_area :description %>
				</div>
				<%= f.submit %>
			</div>
		</div>
	</div>
<% end %>