
<div class="wrapper">
	<% @samples.each do |sample| %>
		<h2 class="name"><%= link_to sample.name, sample.link, {:style=>'color: red;', :class => "css_class"} %></h2>
		<p class="description"><%= sample.description %></p>
		<div class="modify">
			<% if user_signed_in? %>
				<%= link_to 'Edit', edit_sample_path(sample), {:style=>'color:#FF6666;', :class => "css_class"} %> | 
				<%= link_to 'Destroy', sample, style: 'color:#FF6666;', method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</div>
	<% end %>

	<br>
	<br>
	<% if user_signed_in? %>
		<%= link_to 'Create New Sample', new_sample_path %><br>
		<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "Admin Login", new_user_session_path %>  <!-- I will probably add this to layouts/application once I get into styling. for sure it will not be here. -->
	<% end %>
</div>
