<!DOCTYPE html>
<html>
<head>
  
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyFolio</title>
	  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"  %>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" %>

	  <%= csrf_meta_tags %>

</head>
<body>
<div class="header clearfix">
	<div class="pic col">
		<%= image_tag('rooftop.png', :class => "centerpiece") %>
	</div>
	<div class="about col">
			Welcome to my portfolio of web applications and related work. In it you will find some of my favorite projects. I'm interested in landing a career as a web application developer and hope this will be a helpful resource to anyone interested in hiring me.
	</div>
	<div class="contact">
	  <ul>
	    <li><a href="http://linkedin.com/in/josephmargolis">LinkedIn</a></li>
	    <li><a href="http://github.com/storycoder">Github</a></li>
	    <li><a href="mailto:meetjosephmargolis@gmail.com">Email Me</a></li>
	  </ul>
	</div>

</div>
<ul class="login">
		<% if user_signed_in? %>
			<li><%= link_to 'Create New Sample', new_sample_path, style: 'color: #000d33;' %><br></li>
			<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, style: 'color: #000d33;' %></li>
		<% end %>
</ul>
<div class="wrapper">
	<%= yield %>
</div>	
</body>
</html>
